*{
    box-sizing: border-box;

}
header{
    margin-bottom: 30px;
}

body{
 position: relative;
 z-index: -1;
    height: 100vh;
    width: 100%;
    background: url(../images/1.jpg) no-repeat center center fixed;

    background-color: grey;
}

hr {
   border:3px solid rgb(224, 126, 35);
   max-width: 65px;
}
.btn-primary {
    width: 220px;
    position: relative;
    background-color: rgb(224, 126, 35);
    border-color:  rgb(224, 126, 35);
}
.btn::before{
    content: "";
    width: 65px;
    height: 3px;
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(224, 126, 35);
}
.btn-primary:hover {
    background-color: #000;
    border-color:  #000;
    padding: 10px 15px;
}
.btn{
    border-radius: 20px;
    text-transform: uppercase;
}
.buffer{
    height: 5rem;
}
